<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>19/04/23 15:50:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:Demo.NewTest@6500df86]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/04/23 15:50:27</td>   <td>16401</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest1.afterClass()[pri:0, instance:Demo.NewTest1@402a079c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/04/23 15:49:52</td>   <td>-18981</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:Demo.NewTest@6500df86]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/04/23 15:50:14</td>   <td>2763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.beforeClass()[pri:0, instance:Demo.NewTest1@402a079c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/04/23 15:49:56</td>   <td>-14396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f()[pri:0, instance:Demo.NewTest@6500df86]">f</td> 
  <td>main@1843368112</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/04/23 15:50:16</td>   <td>5330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.f()[pri:0, instance:Demo.NewTest1@402a079c]">f</td> 
  <td>main@1843368112</td>   <td></td> </tr>
</table>
